.section1{
    padding-bottom: 15px;
    border-top: 2px dashed #ddd;
}
table{
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}
table caption{
    font-size: 2em;
    font-weight: bold;
    margin: 1em 0;
}
th,td{
    border: 1px solid black;
    text-align: center;
    padding: 20px 0;
}
thead tr{
    background-color: #008c8c;
    color: #fff;
}

tbody tr:nth-child(even){
    background-color:#eee;
}

tbody tr:hover{
    background-color: #ccc;
}

.title{
    font-size: 2em;
    text-align: center;
    font-weight: bold;
    margin: 1em 0;
}
.sea_input{
    font-size: 20px;
    width: 400px;
    height: 30px;
    border: 1px solid;
    border-radius:50px;
}
.center{
    text-align: center;
    font-size: 20px;
}
.gotocenter{
    font-size: 20px;
    text-align: center;
}
ol{
    list-style-type: 1;
    font-size: 20px;
    line-height: 20px;
    display: inline-block;
    text-align: left;
}
ul{
    list-style-type: 1;
    font-size: 20px;
    line-height: 20px;
    display: inline-block;
    text-align: left;
}
li{
    padding: 10px 0;
}

.click:hover{
    background-color:#008c8c;
    color:white;
    border-radius:50px;
}


